<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera Tests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container ion-padding">
    <ion-card>
      <img alt="Silhouette of mountains" [src]="base64Image" *ngIf="base64Image" />
      <ion-card-header>
        <ion-card-title>{{plate}}</ion-card-title>
        <ion-card-subtitle>Your plate recognition</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{confidence}}
      </ion-card-content>
    </ion-card>
    <ion-button (click)="onCamera()" expand="block">
      Open Camera
    </ion-button>
    <ion-button (click)="onPlate()" expand="block" [disabled]="processing">
      Plate Recognition
    </ion-button>
    <ion-button (click)="onOCR()" expand="block" [disabled]="processing">
      OCR
    </ion-button>
  </div>
</ion-content>